@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* sticky nav bar styling*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.rewards-container {
    position: fixed;
    margin-top: 74px;
}

.content {
    padding: 16px;
}

.sticky+.content {
    padding-top: 102px;
}











/* navbar styling */

nav {
    padding: 5px 20px;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: #1e3932;
}

li a:hover {
    color: #aec2bb;
}


#starbucks-logo {
    padding: 0px 71px;
}


.menu {
    padding-right: 88px;
}

.menu li {

    font-size: 17px;
    font-weight: bolder;
    padding: 15px 5px;
}


.item.rewards {
    border-bottom: 6px #008248 solid;
}

.rewards-container {
    background-color: #1e3932;
    border: 0px;
    height: 57px;
    padding: 18px;
    margin-left: -22px;
    width: 103%;

}

.rewards-container p {
    color: white;
    font-size: 15px;
    margin-left: 89px;
    width: 100%;
    font-weight: bolder;

}

/* end of navbar */






/* styling for the "free coffee" section */


/* the light green background color*/
#join-container {
    background-color: #d4e9e2;
    height: 973px;
    width: 100%;
    margin-bottom: 96px;
    margin-top: -5px;
    display: flex;
}


/* star image*/

.star-img {
    width: 49%;
    height: auto;
    margin-left: auto;
}


/* container with text inside*/
.text-container {
    padding: 250px;
}




.text-container h1 {
    font-size: 36px;
    font-weight: 600;
}


.text-container p {
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.text-container button {
    background-color: #016438;
    border: 1px #008248 solid;
    font-size: 16px;
    border-radius: 40px;
    width: 30%;
    margin-bottom: 12px;
    padding: 9px;
    color: white;
    font-weight: bolder;
}



/* join the app text */
.text-container p span {
    text-decoration: underline;
}



/* HOW TO EARN REWARDS SECTION */


.get-started {
    padding: 95px;
}

.get-started h1 {
    text-align: center;
    font-weight: lighter;
}

.get-started p {
    text-align: center;
    margin-bottom: 55px;
}

.get-started h1 {
    margin-bottom: 19px;
}


/* step 1 2 and 3 icons */

.icons {
    display: flex;
    justify-content: center;
    gap: 350px;

}


.icon-circle {
    text-align: center;
}




/* toggle different rewards section */



.offers-container h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 90px;
}

.offers-container {
    padding: 46px;
}

.tab {

    background-color: #e7f5f1;
    height: 265px;
    width: 100%;
}



/* the star buttons and the container*/

.button-container {
    display: flex;
    justify-content: center;
    gap: 26px;
}



/* the buttons*/


#point-25,
#point-50,
#point-150,
#point-200,
#point-400 {
    background-color: transparent;
    border: 0px;
    padding: 19px;
    font-size: 24px;
    cursor: pointer;
}

.offers-btn:hover {
    text-decoration: underline;
}



/* the stars in the button*/

.filled-star {
    width: 20%;
    height: auto;
}



/* toggle menu */




.toggle-container {
    background-color: #d4e9e2;
    width: 100%;
    height: 220px;
    margin-top: -21px;
}

/* first menu option */

#customize-drink {
    display: flex;
    justify-content: center;
}






































/* mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    cursor: pointer;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;

}

.bars::before,
.bars::after {

    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;

}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}





/* tablet menu */


@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
        /* lets it grow*/
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .item.button a {
        padding: 7px 15px;
        font-size: 19px;
        border: 1px #1e3932 solid;
        border-radius: 12px;
        color: #1e3932;
        background-color: transparent;
    }

    .item.button.secondary a {

        font-size: 19px;
        padding: 7px 15px;
        border: 1px #1e3932 solid;
        border-radius: 12px;
        color: white;
        background-color: #1e3932;


    }

}

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0px;
    }


    #location-pin {
        width: 14%;
        margin-right: 11px;
        height: auto;
    }

    .menu {
        gap: 48px;
    }

}



/* NAVBAR
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}


.left-nav {
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li a {
    font-weight: 900;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #aec2bb;
}


#location-pin {
    width: 20%;
    height: 24px;
} */