@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #27322a;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}



/* sticky nav bar styling*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.rewards-container {
    position: fixed;
    margin-top: 74px;
}

.content {
    padding: 16px;
}

.sticky+.content {
    padding-top: 102px;
}











/* navbar styling */

nav {
    padding: 5px 20px;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: #1e3932;
}

li a:hover {
    color: #aec2bb;
}


#starbucks-logo {
    padding: 0px 71px;
}


.menu {
    padding-right: 88px;
}

.menu li {

    font-size: 17px;
    font-weight: bolder;
    padding: 15px 5px;
}


.item.rewards {
    border-bottom: 6px #008248 solid;
}

.rewards-container {
    background-color: #1e3932;
    border: 0px;
    height: 57px;
    padding: 18px;
    margin-left: -22px;
    width: 103%;

}

.rewards-container p {
    color: white;
    font-size: 15px;
    margin-left: 89px;
    width: 100%;
    font-weight: bolder;

}

/* end of navbar */






/* styling for the "free coffee" section */


/* the light green background color*/
#join-container {
    background-color: #d4e9e2;
    height: 973px;
    width: 100%;
    margin-bottom: 96px;
    margin-top: -5px;
    display: flex;
}


/* star image*/

.star-img {
    width: 49%;
    height: auto;
    margin-left: auto;
}


/* container with text inside*/
.text-container {
    padding: 250px;
}




.text-container h1 {
    font-size: 36px;
    font-weight: 600;
}


.text-container p {
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.text-container button {
    background-color: #016438;
    border: 1px #008248 solid;
    font-size: 16px;
    border-radius: 40px;
    width: 30%;
    margin-bottom: 12px;
    padding: 9px;
    color: white;
    font-weight: bolder;
}



/* join the app text */
.text-container p span {
    text-decoration: underline;
}



/* HOW TO EARN REWARDS SECTION */


.get-started {
    padding: 95px;
}

.get-started h1 {
    text-align: center;
    font-weight: lighter;
}

.get-started p {
    text-align: center;
    margin-bottom: 55px;
}

.get-started h1 {
    margin-bottom: 19px;
}


/* step 1 2 and 3 icons */

.icons {
    display: flex;
    justify-content: center;
    gap: 350px;

}


.icon-circle {
    text-align: center;
}




/* toggle different rewards section */


.about {
    margin-bottom: -50px;
}

.offers-container h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 90px;
}

.offers-container {
    padding: 46px;
}

.tab {

    background-color: #e7f5f1;
    height: 265px;
    width: 100%;
    border-bottom: 1px #bbbbbb solid;

}


.points-tab {
    display: none;
}


.points-tab.active {
    display: flex;
    justify-content: center;
    gap: 95px;

}







/* the star buttons and the container*/

.button-container {
    display: flex;
    justify-content: center;
    gap: 26px;
}



/* the buttons*/


.points-btn {
    background-color: transparent;
    border: 0px;
    padding: 19px;
    font-size: 24px;
    cursor: pointer;
}




/* the stars in the button*/

.filled-star {
    width: 20%;
    height: auto;
}



/* toggle menu */




.toggle-container {
    background-color: #d4e9e2;
    width: 100%;
    height: 299px;
    padding: 67px;
    margin-top: -20px;

}




/* first menu option */


/* the points 25 is the 25 points menu tab */





.text-box {
    margin-top: 45px;
}

.text-box h3 {
    font-size: 27px;
    letter-spacing: 1px;
    margin-bottom: 19px;
    color: #27322a;
}

.text-box p {
    font-size: 19px;
}





/* extras section */

.extras-container {
    text-align: center;
    padding: 194px;
}

.extras-container p {
    margin-bottom: 53px;
    font-size: 20px;
}

.extras-container h2 {
    margin-bottom: 35px;
    font-size: 30px;
}

.imgs-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 34px;
}


/* the title section*/

.extra-header {
    display: flex;
    justify-content: space-around;
    gap: 0px;
}


.extras-info {
    display: inline-flex;
    gap: 168px;

}

.extra-header h4 {
    margin-bottom: 35px;
    font-size: 20px;
}

.extras-info p {
    font-size: 18px;
}

/* the descriptions under the images/icons describing the extra rewards */

.extras-info p {
    display: inline-flex;
}



/* cash or card section*/

.cash-card-headers {

    background-color: #f2f0eb;
    height: 750px;
    width: 100%;
    font-size: 19px;
}

.cash-card-container {
    margin-bottom: 112px;
}

#center {
    text-align: center;
    margin-bottom: 104px;
}

.cash-card-headers>h3:first-child {
    text-align: center;
    font-size: 30px;
    margin-bottom: 29px;
}



/* the title headers within the colums */

.header-columns {
    margin-top: 32px;
    margin-left: 2em;
}

.header-columns h3 {
    margin-bottom: 13px;
}






/* Grid container */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 227px;
}

.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6 {
    display: flex;
}


.cell-2,
.cell-5 {
    margin-left: -16em;
}

.cell-3,
.cell-6 {
    margin-left: -20em;
}




/* starcodes section */

.star-codes {
    padding-left: 32em;
}

.star-codes h3 {
    margin-bottom: 30px;
    font-size: 24px;
}

.star-codes p {
    margin-bottom: 33px;
}





/* star codes form section */

.form {
    position: relative;
    width: 20rem;
    margin-left: 32rem;

}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    width: 228%;
    height: 100%;
    border: 2px solid grey;
    font-family: inherit;
    border-radius: 10px;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.form__input:focus {
    border-color: #016438;
}


/* submit button*/

.submit-btn {
    position: absolute;
    display: flex;
    margin-left: 41rem;
    top: 4rem;
    padding: 10px;
    border-radius: 26px;
    width: 24%;
    font-size: 14px;
    background-color: transparent;
    color: #0c1714;
    border-color: #0c1714;
    cursor: pointer;
}




/* questions section */

.questions-section {
    position: relative;
    left: 32rem;
    top: 8rem;
}

.questions-section h3 {
    font-size: 24px;
}




/* terms section */

.terms-container {
    display: flex;
    margin-top: 19rem;
    padding-left: 21rem;
    gap: 53px;
    background-color: #f9f9f9;
    padding-top: 87px;
    padding-bottom: 86px;
}



/* footer section*/

.footer-container {
    display: flex;
    gap: 4rem;
    padding-left: 21rem;
    padding-top: 3rem;
}

.footer-container ul {
    line-height: 3rem;
}


.footer-container h5 {
    font-size: 19px;
    font-weight: lighter;
}

.footer-container li {
    color: grey;
    cursor: pointer;
}

.footer-container li:hover {
    color: black;
}


.footer-icons {
    display: flex;
    gap: 34px;
    padding-left: 20rem;
    margin-bottom: 21px;
}


.icons-png {
    width: 157%;
    height: auto;
}

.policy-container {
    display: flex;
    padding-left: 20rem;
    gap: 39px;

}



/* mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    cursor: pointer;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;

}

.bars::before,
.bars::after {

    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;

}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}



/* MEDIA queries mobile */

@media all and (max-width: 767px) {
    .text-container {
        padding: 162px;
    }

    .text-container>br {

        display: none;
    }

}









/* tablet menu */


@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
        /* lets it grow*/
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .item.button a {
        padding: 7px 15px;
        font-size: 19px;
        border: 1px #1e3932 solid;
        border-radius: 12px;
        color: #1e3932;
        background-color: transparent;
    }

    .item.button.secondary a {

        font-size: 19px;
        padding: 7px 15px;
        border: 1px #1e3932 solid;
        border-radius: 12px;
        color: white;
        background-color: #1e3932;


    }

}

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0px;
    }


    #location-pin {
        width: 14%;
        margin-right: 11px;
        height: auto;
    }

    .menu {
        gap: 48px;
    }

}